airflow/*
!airflow/docker-compose.yml
jenkins/*
!jenkins/docker-compose.yml
mongo_db/*
!mongo_db/docker-compose.yml
mysql/*
!mysql/docker-compose.yml
!mysql/northwind_mysql5.sql
postgres/*
!postgres/docker-compose.yml
rabbitmq/*
!rabbidmq/docker-compose.yml
sqlserver/*
!sqlserver/docker-compose.yml
redis/*
!redis/docker-compose.yml